__pycache__/
*.py[cod]
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

.ipynb_checkpoints/

outputs/*.csv
outputs/*.pdf
outputs/*.pbix


airflow/airflow/
airflow/logs/
airflow/outputs/
airflow/*.txt

.env
airflow/.env
airflow/airflow/.env
postgres/.env
airflow/config/airflow.cfg

**/__docker_build__/
**/docker-compose.override.yml